@tailwind base;
@tailwind components;
@tailwind utilities;

.box-shadow-card {
  box-shadow: 0px 0px 20px rgb(97, 188, 255, 0.19);
}

.icon-shadow:hover {
  filter: drop-shadow(0px 0px 5px hsl(var(--s)));
  transition: 0.3s;
}

.box-shadow-card-figure {
  box-shadow: 0 10px 0 0 hsl(var(--s));
}

.box-shadow-card-figure-alt {
  box-shadow: inset 10px 0 0 0 hsl(var(--s));
}

.carousel-btn.btn-active {
  background-color: hsl(var(--s));
  border: none;
}

.carousel-card {
  max-height: 350px;
  min-width: auto;
}

.no-rounded-bottom {
  border-radius: 0.75rem 0.75rem 0 0;
}

.no-rounded-left {
  border-radius: 0 0.75rem 0.75rem 0;
}
